@page "/"

@inject HttpClient http 

<h1>Your activity</h1>

@if (ca == 0 && aPayer == 0)
{
    <h2>Chargement des données...</h2>
}
else
{
    <h2>Chiffre d'affaires : <strong>@ca €</strong></h2>

    <h2>A payer : <strong>@aPayer €</strong></h2>
}

@code {

    private decimal ca = 0;
    private decimal aPayer = 0;

    protected override async Task OnInitializedAsync()
    {
        ca = await http.GetFromJsonAsync<decimal>("/api/dashboard/ca");
        aPayer = await http.GetFromJsonAsync<decimal>("/api/dashboard/aPayer");
    }
} 


